
<div class="gantt__row gantt__row--heading gantt__row--heading-1">
    <div class="gantt__row-first"></div>
    <span>@Heading</span>
</div>

<div class="gantt__row gantt__row--heading gantt__row--heading-2" style="display:none">
</div>

@code {
    [Parameter]
    public string Heading { get; set; } = "";
}
